In [ ]:
# import necessary libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# data bps
provinsi = pd.read_csv("../datawilayah/provinsi.csv")
kota = pd.read_csv("../datawilayah/kabupaten-kota.csv")
# data wikipedia
provinsi_populasi = pd.read_csv("../datawilayah/provinsi-and-populasi-2020.csv")

In [ ]:
provinsi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      38 non-null     int64
 1   name    38 non-null     object
dtypes: int64(1), object(1)
memory usage: 736.0+ bytes

In [ ]:
kota.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      514 non-null    float64
 1   name    514 non-null    object
dtypes: float64(1), object(1)
memory usage: 8.2+ KB

In [ ]:
kota.head(38)

       id               name
0   11.01       Aceh Selatan
1   11.02      Aceh Tenggara
2   11.03         Aceh Timur
3   11.04        Aceh Tengah
4   11.05         Aceh Barat
5   11.06         Aceh Besar
6   11.07              Pidie
7   11.08         Aceh Utara
8   11.09           Simeulue
9   11.10       Aceh Singkil
10  11.11            Bireuen
11  11.12    Aceh Barat Daya
12  11.13          Gayo Lues
13  11.14          Aceh Jaya
14  11.15         Nagan Raya
15  11.16       Aceh Tamiang
16  11.17       Bener Meriah
17  11.18         Pidie Jaya
18  11.71    Kota Banda Aceh
19  11.72        Kota Sabang
20  11.73   Kota Lhokseumawe
21  11.74        Kota Langsa
22  11.75  Kota Subulussalam
23  12.01    Tapanuli Tengah
24  12.02     Tapanuli Utara
25  12.03   Tapanuli Selatan
26  12.04               Nias
27  12.05            Langkat
28  12.06               Karo
29  12.07       Deli Serdang
30  12.08         Simalungun
31  12.09             Asahan
32  12.10        Labuhanbatu
33  12.11              Dairi
34  12.12               Toba
35  12.13   Mandailing Natal
36  12.14       Nias Selatan
37  12.15      Pakpak Bharat

In [ ]:
provinsi.head(38)

    id                       name
0   11                 Aceh (NAD)
1   12             Sumatera Utara
2   13             Sumatera Barat
3   14                       Riau
4   15                      Jambi
5   16           Sumatera Selatan
6   17                   Bengkulu
7   18                    Lampung
8   19  Kepulauan Bangka Belitung
9   21             Kepulauan Riau
10  31                DKI Jakarta
11  32                 Jawa Barat
12  33                Jawa Tengah
13  34              DI Yogyakarta
14  35                 Jawa Timur
15  36                     Banten
16  51                       Bali
17  52  Nusa Tenggara Barat (NTB)
18  53  Nusa Tenggara Timur (NTT)
19  61           Kalimantan Barat
20  62          Kalimantan Tengah
21  63         Kalimantan Selatan
22  64           Kalimantan Timur
23  65           Kalimantan Utara
24  71             Sulawesi Utara
25  72            Sulawesi Tengah
26  73           Sulawesi Selatan
27  74          Sulawesi Tenggara
28  75                  Gorontalo
29  76             Sulawesi Barat
30  81                     Maluku
31  82               Maluku Utara
32  91                      Papua
33  92                Papua Barat
34  93              Papua Selatan
35  94               Papua Tengah
36  95           Papua Pegunungan
37  96           Papua Barat Daya

### merge province.csv with kabupaten-kota.csv

In [ ]:
provinsi.columns = provinsi.columns.str.strip()
kota.columns = kota.columns.str.strip()

provinsi['id'] = provinsi['id'].astype(str)
kota['id'] = kota['id'].astype(str)

# extract province code 
kota['provinsi_id'] = kota['id'].apply(lambda x: x.split('.')[0])
city_counts = kota.groupby('provinsi_id').size().reset_index(name='jumlah_kota')

# merge back to get province names
result = provinsi.merge(city_counts, left_on='id', right_on='provinsi_id', how='left')
result['total_city'] = result['jumlah_kota'].fillna(0).astype(int)
result = result.sort_values(by='total_city', ascending=False)

# result
print(result[['id', 'name', 'total_city']])

    id                       name  total_city
14  35                 Jawa Timur          38
12  33                Jawa Tengah          35
1   12             Sumatera Utara          33
11  32                 Jawa Barat          27
26  73           Sulawesi Selatan          24
0   11                 Aceh (NAD)          23
18  53  Nusa Tenggara Timur (NTT)          22
2   13             Sumatera Barat          19
27  74          Sulawesi Tenggara          17
5   16           Sumatera Selatan          17
24  71             Sulawesi Utara          15
7   18                    Lampung          15
20  62          Kalimantan Tengah          14
19  61           Kalimantan Barat          14
21  63         Kalimantan Selatan          13
25  72            Sulawesi Tengah          13
3   14                       Riau          12
4   15                      Jambi          11
30  81                     Maluku          11
31  82               Maluku Utara          10
6   17                   Bengkulu          10
17  52  Nusa Tenggara Barat (NTB)          10
22  64           Kalimantan Timur          10
16  51                       Bali           9
32  91                      Papua           9
36  95           Papua Pegunungan           8
35  94               Papua Tengah           8
15  36                     Banten           8
9   21             Kepulauan Riau           7
8   19  Kepulauan Bangka Belitung           7
33  92                Papua Barat           7
37  96           Papua Barat Daya           6
29  76             Sulawesi Barat           6
28  75                  Gorontalo           6
10  31                DKI Jakarta           6
23  65           Kalimantan Utara           5
13  34              DI Yogyakarta           5
34  93              Papua Selatan           4

In [ ]:
print("Total provinces:", result['id'].nunique())
print("Total kabupaten/kota:", result['total_city'].sum())

Total provinces: 38
Total kabupaten/kota: 514

### merge province.csv with the province-and-population.csv

In [ ]:
provinsi["name"] = provinsi["name"].str.strip()
provinsi_populasi["name"] = provinsi_populasi["name"].str.strip()

# Merge province codes with population
merged = pd.merge(provinsi, provinsi_populasi, on="name", how="left")

# Sort by population
merged = merged.sort_values(by="population", ascending=False)

print(merged)

    id                       name  population
11  32                 Jawa Barat  48274162.0
14  35                 Jawa Timur  40665696.0
12  33                Jawa Tengah  36516035.0
1   12             Sumatera Utara  14799361.0
15  36                     Banten  11904562.0
10  31                DKI Jakarta  10562088.0
26  73           Sulawesi Selatan   9073509.0
7   18                    Lampung   9007848.0
5   16           Sumatera Selatan   8467432.0
3   14                       Riau   6394087.0
2   13             Sumatera Barat   5534472.0
19  61           Kalimantan Barat   5414390.0
18  53  Nusa Tenggara Timur (NTT)   5325566.0
17  52  Nusa Tenggara Barat (NTB)   5320092.0
0   11                 Aceh (NAD)   5274871.0
16  51                       Bali   4317404.0
32  91                      Papua   4303707.0
21  63         Kalimantan Selatan   4073584.0
22  64           Kalimantan Timur   3766039.0
13  34              DI Yogyakarta   3668719.0
4   15                      Jambi   3548228.0
25  72            Sulawesi Tengah   2985734.0
20  62          Kalimantan Tengah   2669969.0
27  74          Sulawesi Tenggara   2624875.0
24  71             Sulawesi Utara   2621923.0
9   21             Kepulauan Riau   2064564.0
6   17                   Bengkulu   2010670.0
30  81                     Maluku   1848923.0
8   19  Kepulauan Bangka Belitung   1455678.0
29  76             Sulawesi Barat   1419229.0
31  82               Maluku Utara   1282937.0
28  75                  Gorontalo   1171681.0
33  92                Papua Barat   1134068.0
23  65           Kalimantan Utara    701814.0
34  93              Papua Selatan         NaN
35  94               Papua Tengah         NaN
36  95           Papua Pegunungan         NaN
37  96           Papua Barat Daya         NaN

### combine jumlah_kota + population (column)

In [ ]:
final = pd.merge(
    result[['id', 'name', 'total_city']],
    merged[['id', 'name', 'population']],
    on=['id', 'name'],
    how='left'
)

In [ ]:
# proporsi = populasi_n / total_populasi
total_pop = final['population'].sum()

final['proporsi'] = (final['population'] / total_pop).round(3)
final['proporsi (%)'] = (final['proporsi'] * 100).round(2)
final = final.sort_values(by='population', ascending=False)

# sampel = proporsi_i x n
n = 1000
sampel = (final["proporsi"] * n).round(3)
final["sample"] = sampel

final.head(38)

,id,name,total_city,population,proporsi,proporsi (%),sample
3,32,Jawa Barat,27,48274162.0,0.179,17.9,179.0
0,35,Jawa Timur,38,40665696.0,0.151,15.1,151.0
1,33,Jawa Tengah,35,36516035.0,0.135,13.5,135.0
2,12,Sumatera Utara,33,14799361.0,0.055,5.5,55.0
27,36,Banten,8,11904562.0,0.044,4.4,44.0
34,31,DKI Jakarta,6,10562088.0,0.039,3.9,39.0
4,73,Sulawesi Selatan,24,9073509.0,0.034,3.4,34.0
11,18,Lampung,15,9007848.0,0.033,3.3,33.0
9,16,Sumatera Selatan,17,8467432.0,0.031,3.1,31.0
16,14,Riau,12,6394087.0,0.024,2.4,24.0
7,13,Sumatera Barat,19,5534472.0,0.020,2.0,20.0
13,61,Kalimantan Barat,14,5414390.0,0.020,2.0,20.0
6,53,Nusa Tenggara Timur (NTT),22,5325566.0,0.020,2.0,20.0
21,52,Nusa Tenggara Barat (NTB),10,5320092.0,0.020,2.0,20.0
5,11,Aceh (NAD),23,5274871.0,0.020,2.0,20.0
23,51,Bali,9,4317404.0,0.016,1.6,16.0
24,91,Papua,9,4303707.0,0.016,1.6,16.0
14,63,Kalimantan Selatan,13,4073584.0,0.015,1.5,15.0
22,64,Kalimantan Timur,10,3766039.0,0.014,1.4,14.0
36,34,DI Yogyakarta,5,3668719.0,0.014,1.4,14.0
17,15,Jambi,11,3548228.0,0.013,1.3,13.0
15,72,Sulawesi Tengah,13,2985734.0,0.011,1.1,11.0
12,62,Kalimantan Tengah,14,2669969.0,0.010,1.0,10.0
8,74,Sulawesi Tenggara,17,2624875.0,0.010,1.0,10.0
10,71,Sulawesi Utara,15,2621923.0,0.010,1.0,10.0
28,21,Kepulauan Riau,7,2064564.0,0.008,0.8,8.0
20,17,Bengkulu,10,2010670.0,0.007,0.7,7.0
18,81,Maluku,11,1848923.0,0.007,0.7,7.0
29,19,Kepulauan Bangka Belitung,7,1455678.0,0.005,0.5,5.0
32,76,Sulawesi Barat,6,1419229.0,0.005,0.5,5.0
19,82,Maluku Utara,10,1282937.0,0.005,0.5,5.0
33,75,Gorontalo,6,1171681.0,0.004,0.4,4.0
30,92,Papua Barat,7,1134068.0,0.004,0.4,4.0
35,65,Kalimantan Utara,5,701814.0,0.003,0.3,3.0
25,95,Papua Pegunungan,8,NaN,NaN,NaN,NaN
26,94,Papua Tengah,8,NaN,NaN,NaN,NaN
31,96,Papua Barat Daya,6,NaN,NaN,NaN,NaN
37,93,Papua Selatan,4,NaN,NaN,NaN,NaN

In [ ]:
scaling_factor = 1.2  # 10% increase
final["sample_scaled"] = final["sample"] * scaling_factor
final["sample_scaled"] = final["sample_scaled"].round().astype("Int64")  # allow NaN
final.head(38)

,id,name,total_city,population,proporsi,proporsi (%),sample,sample_scaled
3,32,Jawa Barat,27,48274162.0,0.179,17.9,179.0,215
0,35,Jawa Timur,38,40665696.0,0.151,15.1,151.0,181
1,33,Jawa Tengah,35,36516035.0,0.135,13.5,135.0,162
2,12,Sumatera Utara,33,14799361.0,0.055,5.5,55.0,66
27,36,Banten,8,11904562.0,0.044,4.4,44.0,53
34,31,DKI Jakarta,6,10562088.0,0.039,3.9,39.0,47
4,73,Sulawesi Selatan,24,9073509.0,0.034,3.4,34.0,41
11,18,Lampung,15,9007848.0,0.033,3.3,33.0,40
9,16,Sumatera Selatan,17,8467432.0,0.031,3.1,31.0,37
16,14,Riau,12,6394087.0,0.024,2.4,24.0,29
7,13,Sumatera Barat,19,5534472.0,0.020,2.0,20.0,24
13,61,Kalimantan Barat,14,5414390.0,0.020,2.0,20.0,24
6,53,Nusa Tenggara Timur (NTT),22,5325566.0,0.020,2.0,20.0,24
21,52,Nusa Tenggara Barat (NTB),10,5320092.0,0.020,2.0,20.0,24
5,11,Aceh (NAD),23,5274871.0,0.020,2.0,20.0,24
23,51,Bali,9,4317404.0,0.016,1.6,16.0,19
24,91,Papua,9,4303707.0,0.016,1.6,16.0,19
14,63,Kalimantan Selatan,13,4073584.0,0.015,1.5,15.0,18
22,64,Kalimantan Timur,10,3766039.0,0.014,1.4,14.0,17
36,34,DI Yogyakarta,5,3668719.0,0.014,1.4,14.0,17
17,15,Jambi,11,3548228.0,0.013,1.3,13.0,16
15,72,Sulawesi Tengah,13,2985734.0,0.011,1.1,11.0,13
12,62,Kalimantan Tengah,14,2669969.0,0.010,1.0,10.0,12
8,74,Sulawesi Tenggara,17,2624875.0,0.010,1.0,10.0,12
10,71,Sulawesi Utara,15,2621923.0,0.010,1.0,10.0,12
28,21,Kepulauan Riau,7,2064564.0,0.008,0.8,8.0,10
20,17,Bengkulu,10,2010670.0,0.007,0.7,7.0,8
18,81,Maluku,11,1848923.0,0.007,0.7,7.0,8
29,19,Kepulauan Bangka Belitung,7,1455678.0,0.005,0.5,5.0,6
32,76,Sulawesi Barat,6,1419229.0,0.005,0.5,5.0,6
19,82,Maluku Utara,10,1282937.0,0.005,0.5,5.0,6
33,75,Gorontalo,6,1171681.0,0.004,0.4,4.0,5
30,92,Papua Barat,7,1134068.0,0.004,0.4,4.0,5
35,65,Kalimantan Utara,5,701814.0,0.003,0.3,3.0,4
25,95,Papua Pegunungan,8,NaN,NaN,NaN,NaN,<NA>
26,94,Papua Tengah,8,NaN,NaN,NaN,NaN,<NA>
31,96,Papua Barat Daya,6,NaN,NaN,NaN,NaN,<NA>
37,93,Papua Selatan,4,NaN,NaN,NaN,NaN,<NA>

In [ ]:
# current total sample
sample_before = final["sample"].sum()
print(f"sample keseluruhan sebelum scale: {sample_before}")

sample_after = final["sample_scaled"].sum()
print(f"sample keseluruhan setelah scale: {sample_after}")

sample keseluruhan sebelum scale: 1002.0
sample keseluruhan sebelum scale: 1204

####